<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/javascripts/script.js" defer></script>
</head>
<body>
    <header>
        <img src="../img/FreakyFashionLogo.jfif" alt="Freaky Fashion Logo" class="logo">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="  Search..." class="search-bar">
        </div>
        <div class="header-icons">
            <a href="#"><i class="fas fa-heart header-icon"></i></a>
            <a href="#"><i class="fas fa-shopping-basket header-icon"></i></a>
        </div>
        <nav class="nav-menu">
            <ul>
<!--                 <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/checkout">Checkout</a></li> -->
                <li><a href="#">Nyheter</a></li>
<!--                 <li class="categories-lg"><a href="#">Kategorier</a></li>
 -->                <li><a href="#">Topplistan</a></li>
                <li><a href="#">Rea</a></li>
                <li><a href="#">Kampanjer</a></li>
            </ul>
        </nav>    
    </header>
    <main>
        <!-- Main content goes here -->
        <section class="hero">
            <div class="content">
                <h1>Lorem ipsum dolor</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>    
            </div>
            <img src="/img/hero.jfif" alt="Hero Image" class="hero-image">
        </section>
        <div class="spots">
            <div class="spot">
                <a href="#"><img src="../img/Placeholder.png" alt="Spot1"></a>
            </div>
            <div class="spot">
                <a href="#"><img src="../img/Placeholder.png" alt="Spot2"></a>
            </div>
            <div class="spot">
                <a href="#"><img src="../img/Placeholder.png" alt="Spot3"></a>
            </div>
        </div>
        <!-- Popular Products Section -->
        <section class="popular-products">
            <table id="product-lists"></table>



            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="new-overlay">Nyhet</div>
                <div class="heart-overlay"><i class="fas fa-heart"></i></div>
                <img src="/img/Army-green-troja.webp" alt="Army green troja">
                <div class="product-header">
                    <h3>Arme grön tröja</h3>
                    <p class="price">449 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/blue-t-shirt.webp" alt="blue t-shirt">
                <div class="product-header">
                    <h3>Blå tröja</h3>
                    <p class="price">349 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Gray-t-shirt.webp" alt="Gray t-shirt">
                <div class="product-header">
                    <h3>Grå tröja</h3>
                    <p class="price">349 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Green-t-shirt.webp" alt="Green t-shirt">
                <div class="product-header">
                    <h3>Grön tröja</h3>
                    <p class="price">349 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Kaki-troja.webp" alt="Kaki troja">
                <div class="product-header">
                    <h3>Kaki tröja</h3>
                    <p class="price">449 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Khaki-t-shirt.webp" alt="Khaki t-shirt">
                <div class="product-header">
                    <h3>Khaki tröja</h3>
                    <p class="price">349 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Mörk-grå-troja.webp" alt="Mörk grå troja">
                <div class="product-header">
                    <h3>Mörk grå tröja</h3>
                    <p class="price">449 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
            <!-- Svart troja from Products Section for less than 640px -->
            <a href="product-details.html" class="product-link">
            <div class="product">
                <div class="heart-overlay"><i class="far fa-heart"></i></div>
                <img src="/img/Svart-troja.webp" alt="Svart troja">
                <div class="product-header">
                    <h3>Svart tröja</h3>
                    <p class="price">349 SEK</p>
                </div>
                <p>Levis</p>
            </div>
            </a>
        </section>
        <!-- Features Navigation Menu -->
        <div class="features">
            <div class="features-nav">
                <div class="feature-icon"><i class="fa-solid fa-earth-europe"></i> Gratis frakt och returer</div>
                <div class="feature-icon"><i class="fa-solid fa-jet-fighter"></i> Expressfrakt</div>
                <div class="feature-icon"><i class="fa-solid fa-shield"></i> Säkert betalning</div>
                <div class="feature-icon"><i class="fa-regular fa-face-smile"></i> Nyheter varje dag</div>
            </div>
        </div>
                <!-- Accordion Component for less than 640px -->
        <div class="accordion">
            <div class="accordion-item">
                <button class="accordion-header">Shopping</button>
                <div class="accordion-content" style="display: block;">
                    <ul>
                        <li><a href="#">Vinterjackor</a></li>
                        <li><a href="#">Pufferjackor</a></li>
                        <li><a href="#">Kappa</a></li>
                        <li><a href="#">Trenchcoats</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">Mina sidor</button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">Mina Ordrar</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Mitt Konto</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">Kundtjänst</button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="#">Returnpolicy</a></li>
                        <li><a href="#">Integritetspolicy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Accordion Component for min-width 640px -->
<section class="accordion-lg">
    <div class="accordion-column">
        <h3>Shopping</h3>
        <ul>
            <li><a href="#">Vinterjackor</a></li>
            <li><a href="#">Pufferjackor</a></li>
            <li><a href="#">Kappa</a></li>
            <li><a href="#">Trenchcoats</a></li>
        </ul>
    </div>
    <div class="accordion-column">
        <h3>Mina Sidor</h3>
        <ul>
            <li><a href="#">Mina Ordrar</a></li>
            <li><a href="#">Mitt Konto</a></li>
        </ul>
    </div>
    <div class="accordion-column">
        <h3>Kundtjänst</h3>
        <ul>
            <li><a href="#">Returnpolicy</a></li>
            <li><a href="#">Integritetspolicy</a></li>
        </ul>
    </div>
</section>

                <!-- Footer for less than 640px -->
        <footer class="footer">
            <p>© Freaky Fashion</p>
        </footer>
        
    </main>
    <script src="/javascripts/script.js"></script>
</body>
</html>